<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>Controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTeacherServlet</servlet-name>
        <servlet-class>Controller.ListTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherDetailServlet</servlet-name>
        <servlet-class>Controller.TeacherDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassServlet</servlet-name>
        <servlet-class>Controller.ForgetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPass</servlet-name>
        <servlet-class>Controller.ResetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCommentServlet</servlet-name>
        <servlet-class>Controller.UpdateCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCommentServlet</servlet-name>
        <servlet-class>Controller.NewCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RateServlet</servlet-name>
        <servlet-class>Controller.RateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavorServlet</servlet-name>
        <servlet-class>Controller.FavorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUpdateTeacherServlet</servlet-name>
        <servlet-class>Controller.UpdateTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTeacherInfoServlet</servlet-name>
        <servlet-class>Controller.NewTeacherInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfoServlet</servlet-name>
        <servlet-class>Controller.UpdateInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSpecialization</servlet-name>
        <servlet-class>Controller.UpdateSpecializationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewSpeInfo</servlet-name>
        <servlet-class>Controller.NewSpeInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewSubjectInfo</servlet-name>
        <servlet-class>Controller.NewSubInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubjectServlet</servlet-name>
        <servlet-class>Controller.UpdateSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAccount</servlet-name>
        <servlet-class>Controller.ListAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkEdit</servlet-name>
        <servlet-class>Controller.checkEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>Controller.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingAccount</servlet-name>
        <servlet-class>Controller.SettingAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTeacherServlet</servlet-name>
        <url-pattern>/listteacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherDetailServlet</servlet-name>
        <url-pattern>/teacherdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassServlet</servlet-name>
        <url-pattern>/forgetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPass</servlet-name>
        <url-pattern>/resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCommentServlet</servlet-name>
        <url-pattern>/updatecomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCommentServlet</servlet-name>
        <url-pattern>/newcomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateServlet</servlet-name>
        <url-pattern>/rate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavorServlet</servlet-name>
        <url-pattern>/favor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUpdateTeacherServlet</servlet-name>
        <url-pattern>/updateteacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTeacherInfoServlet</servlet-name>
        <url-pattern>/newteacherinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfoServlet</servlet-name>
        <url-pattern>/updateinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSpecialization</servlet-name>
        <url-pattern>/updatespe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewSpeInfo</servlet-name>
        <url-pattern>/newspeinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewSubjectInfo</servlet-name>
        <url-pattern>/newsubjectinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubjectServlet</servlet-name>
        <url-pattern>/updatesubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAccount</servlet-name>
        <url-pattern>/ListAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkEdit</servlet-name>
        <url-pattern>/checkEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingAccount</servlet-name>
        <url-pattern>/SettingAccount</url-pattern>
    </servlet-mapping>
</web-app>
